.tableFixHeader {
  overflow-y: auto;
  height: 400px;
}
.tableFixHeader thead th {
  position: sticky;
  top: 0;
}

table {
  border-collapse: collapse;
  max-width: 100%;
}
th,
td {
  padding: 8px 16px;
  white-space: nowrap;
}
th {
  background: #eee;
}

.rosterButton {
  margin: 2px;
}

.signupColour {
  background-color: #8064a2 !important;
}

.editShiftColour {
  background-color: #8064a2 !important;
}

.unavailColour {
  background-color: #8104a2 !important;
}

.attendColour {
  background-color: #8064a2 !important;
}

.deleteShiftColour {
  background-color: #8064a2 !important;
}

.bulkEditColour {
  background-color: #8064a2 !important;
}

.bulkDeleteColour {
  background-color: #8064a2 !important;
}
